ul#menu li {
    display:inline;
    list-style-type: none;
}

ul {text-align: center;}

.styleCard {
    width: 100px;
    height: 100px;
    background-color: #7793ff;
    border: 1px solid #ffffff;
}

.position-button-again {
    padding-top: 20px;
    margin-left: 2.5%;
    text-align: center;
}

.main-header {
    color: #505aff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.text-card {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
}
